button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button.blue {
  color: $white;
  background-color: $blue;
}

button.blue:hover:not(:disabled) {
  background-color: $turquoise;
}

button.blue:disabled, button[disabled].blue {
  background-color: gray !important;
}

button.turquoise {
  background-color: $turquoise;
}

button.turquoise:hover:not(:disabled) {
  color: $white;
  background-color: $blue;
}


button.circle-plus {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  background: $lightGray;
  border: 1px solid $gray;
}

button.circle-plus:hover {
  background-color: $turquoise;
  color: $white;
}