button.blue {
  color: $white;
  background-color: $blue;
}

button.blue:hover {
  background-color: $turquoise;
}

button.blue:disabled, button[disabled].blue {
  background-color: gray !important;
  cursor: not-allowed;
}
