// header after loggin in

header.container {
  .logo {
    display: block;
    float: left;
    img {
      width: 140px;
    }
  }

  h1.persona {
    display: block;
    float: left;
    margin: 10px 0 0 25px;
    color: $gray;
    font-size: 20px;
    line-height: 1em;
    font-weight: 500 !important;

    .user-icon {
      float: left;
    }

    div {
      display: inline-block;
      margin: 10px 0 0 15px;
    }
  }

  button.edit {
    margin-top: 10px;
    display: inline-block;
  }

  .network {
    text-align: right;
  }

  @media screen and (max-width: $breakpoint-phone) {
    h1.persona {
      margin-left: 10px;
    }

    .network {
      text-align: left;
    }
  }
}
